<mat-list role="list">
    @for (dettaglioCarrello of dettagliCarrello; track dettaglioCarrello.idDettaglioCarrello) {
        <mat-list-item role="listitem">
            <div>
                <img [src]="dettagliFilm[dettaglioCarrello.filmId].immagine" [alt]="dettagliFilm[dettaglioCarrello.filmId].titolo" class="film-image" />
                <p>Titolo: {{ dettagliFilm[dettaglioCarrello.filmId].titolo }}</p>
                <p>Quantità: {{ dettaglioCarrello.quantita }}</p>
                <p>Prezzo Unità: {{ dettaglioCarrello.prezzoUnita | currency }}</p>
            </div>
        </mat-list-item>
    } @empty {
        <p>il carrello è vuoto</p>
    }
</mat-list>
