<div class="container">
<mat-list role="list" [ngStyle]="{ 'margin-bottom': '16px' }">
    @for (dettaglioCarrello of dettagliCarrello; track dettaglioCarrello.idDettaglioCarrello) {
        <mat-list-item role="listitem">
            <div>
                <img [src]="dettagliFilm[dettaglioCarrello.filmId].immagine" [alt]="dettagliFilm[dettaglioCarrello.filmId].titolo" class="film-image" />
                <p>Titolo: {{ dettagliFilm[dettaglioCarrello.filmId].titolo }}</p>
                <p>Quantità: {{ dettaglioCarrello.quantita }}</p>
                <p>Prezzo Unità: {{ dettaglioCarrello.prezzoUnita | currency }}</p>
            </div>
        </mat-list-item>
    } @empty {
        <p>il carrello è vuoto</p>
    }
</mat-list>
<div class="totale-container">
    <h3>Totale: {{ totale | currency }}</h3>
  </div>
<div class="actions">
    <button mat-flat-button (click)="acquistaDalCarrello()">Ordina</button>
</div>
</div>