<mat-list role="list">
    @for (dettaglioCarrello of getDettagliCarrello(); track dettaglioCarrello.idDettaglioCarrello) {
        <mat-list-item role="listitem">
            <div>
                <p>ID Dettaglio: {{ dettaglioCarrello.idDettaglioCarrello }}</p>
                <p>Quantità: {{ dettaglioCarrello.quantita }}</p>
                <p>Prezzo Unità: {{ dettaglioCarrello.prezzoUnita | currency }}</p>
                <p>ID Carrello: {{ dettaglioCarrello.carrelloId }}</p>
                <p>ID Film: {{ dettaglioCarrello.filmId }}</p>
              </div>
        </mat-list-item>
    } @empty {
        <p>il carrello è vuoto</p>
    }
</mat-list>
