<h3 class="form-title">Inserisci indirizzo</h3>
<div class="container">
    <div class="form-card">
        <p-floatLabel class="input-field">
            <input
                pInputText
                class="ng-invalid ng-dirty"
                required  
                id="tipo"
                [(ngModel)]="indirizzo" />
                <label for="tipo">Indirizzo</label>
        </p-floatLabel>
    </div>
</div>
<h3 class="form-title">Inserisci metodo di pagamento</h3>
<div class="container">
    <div class="form-card">
        <p-floatLabel class="input-field">
            <input
                pInputText
                class="ng-invalid ng-dirty"
                required  
                id="tipo"
                [(ngModel)]="tipo" />
            <label for="tipo">Tipo Carta</label>
        </p-floatLabel>

        <p-floatLabel class="input-field">
            <input 
                pInputText 
                class="ng-invalid ng-dirty"
                type="number"
                pattern="[0-9]*"
                required
                [(ngModel)]="numero"/>
            <label for="numero">Numero Carta</label>
        </p-floatLabel>
    </div>
</div>

@if (metodiDiPagamento) {
<h3 class="form-title">...oppure seleziona un metodo di pagamento esistente</h3>
}
<mat-list role="list">
    @for (metodo of metodiDiPagamento; track metodo.numero) {
        <mat-list-item role="listitem">
        <div (click)="selezionaMetodo(metodo)">
                <p-radioButton
                name="category" 
                [value]="metodo"
                [(ngModel)]="metodoSelezionato"
                label="{{metodo.tipo}} - {{metodo.numero}}"
                />
              </div>
        </mat-list-item>
    } @empty {
        <p>il carrello è vuoto</p>
    }
</mat-list>
<div class="ordina" (click)="ordina()">
    <p-button label="Ordina"/>
</div>
