    <p-carousel
    [value]="films"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000">
      <ng-template pTemplate="item" let-film>
        <div class="film-item" (click)="selectFilm(film)" routerLink="/film/{{film.id}}">
          <img [src]="film.immagine" [alt]="film.titolo" class="film-image" />
          <div class="film-info">
            <h3>{{ film.titolo }}</h3>
            <p>{{ film.regista }}</p>
            <p>{{ film.prezzo | currency }}</p>
          </div>
        </div>
        <div (click)="selectFilm(film)">
          <a href="javascript:void(0)" (click)="selectFilm(film);">Dettagli</a>
        </div>
      </ng-template>
    </p-carousel>
  